:root {
  --common-font: "Roboto", sans-serif;
  --two-font: "Open Sans", sans-serif;
  --turquoise-color: #1abca2;
  --logo-color: #555252;
  --nav-color: #0f0101;
  --white-color: #ffffff;
  --title-color: #515151;
  --color-section: #e9f0fd;
  --card-color: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--common-font);
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}

/* Site LOGO */
.container {
  width: 1110px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 30px;
}

.logo::first-letter {
  font-weight: 900;
  color: var(--turquoise-color);
}

.logo {
  font-family: var(--common-font);
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--logo-color);
  float: left;
}

.navigation__list {
  float: right;
  margin-top: 7px;
}

.navigation__list-item {
  float: left;
}

.navigation__list-item:not(:last-child) {
  margin-right: 34px;
}

.navigation__list-link {
  font-family: var(--two-font);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.28px;
  color: var(--nav-color);
  text-transform: uppercase;
}

.navigation__list-link:hover,
.navigation__list-link:focus {
  color: var(--turquoise-color);
}

/* END Site LOGO */

/* Slider */

.slider {
  position: relative;
}

.slider-wrapper::before {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 2, 0.52);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.slider-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-content {
  width: 1110px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-btn {
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: rgb(26, 188, 156, 0.65);
  background-size: 80%;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: rgb(95, 202, 181);
}

.prev {
  background-image: url(../img/icon/angle-left.svg);
  float: left;
}

.next {
  background-image: url(../img/icon/angle-right.svg);
  float: right;
}

.slider-title {
  width: 740px;
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-text {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: -1.2px;
  color: var(--white-color);
  text-transform: uppercase;
}

.slider-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  letter-spacing: 0.48px;
  color: var(--white-color);
}

/* START SECRION */
.main {
  background-color: var(--color-section);
  padding: 100px 0;
}

.product {
  width: 1110px;
  margin: 0 auto;
}

.product__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.96px;
  color: var(--title-color);
  text-align: center;
  padding-bottom: 80px;
}

.product__title::after {
  content: "";
  display: block;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 28px;
}

.product__list-item {
  width: 255px;
  float: left;
}

.product__list-item-img-wrapper {
  position: relative;
}

.product__list-item:not(:last-child) {
  margin-right: 30px;
}

.product__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.product__card {
  background-color: var(--card-color);
}

.product__list-item:hover .product__card {
  background-color: var(--turquoise-color);
}

.product__name-link,
.product__price {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  color: var(--white-color);
}

.product__name {
  float: left;
  padding: 0 14px;
  color: var(--white-color);
}

.product__price {
  float: right;
  background-color: rgba(255, 255, 255, 0.44);
  padding: 0 12px;
}

/* Overlay */
.overlay {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  border: 10px solid rgba(255, 255, 255, 0.55);
  background-clip: padding-box;
}

.social-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
  float: left;
}

.social-list__item {
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: solid 1px var(--white-color);
  float: left;
  cursor: pointer;
}

.social-list__item:nth-child(-n + 2) {
  margin-right: 8px;
}

.social-list__item:hover,
.social-list__item:focus {
  background-color: rgb(95, 202, 181);
}

.social_icon-like {
  background-image: url(../img/icon/like.svg);
}

.social_icon-shuffle {
  background-image: url(../img/icon/shuffle.png);
}

.social_icon-clock {
  background-image: url(../img/icon/clock.png);
}

.social_icon-cart {
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: var(--white-color);
  font-family: var(--two-font);
  margin-top: 8px;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 60px;
  background-image: url(../img/icon/cart.svg);
  background-position: 10% 50%;
}

/* FOOTER */
.footer {
  display: block;
  font-family: var(--two-font);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.32px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: var(--card-color);
  color: var(--white-color);
}

.footer-link {
  color: var(--turquoise-color);
}
